{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"experimentalTernaries": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"singleQuote": true,
	"printWidth": 240,
	"singleAttributePerLine": false,
	"tailwindStylesheet": "./assets/styles/theme.css",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-jsdoc",
		"prettier-plugin-tailwindcss"
	]
}
